@media screen and (min-width:1400px){
    .container {
        max-width: 1320px;
    }
}
@media screen and (max-width:1400px){
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width:1200px){
    .container {
        max-width: 960px;
    }
}
@media screen and (max-width:992px){
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width:768px){
    .container {
        max-width: 540px;
    }
}
@media screen and (min-width:576px){
    .container {
        padding-inline: 15px;
    }
}
/* navbar */
@media screen and (max-width: 1200px) {
    .menu{
        display: block;
    }
    nav ul{
        transform: translatex(100%);
        position: absolute;
        background-color:#fff;
        flex-direction: column;
        top: 0;
        right: 0;
        height: 100%;
        padding-inline:10px;
        gap: 0;
    }
    nav ul li{
        padding-block: 20px;
    }
    .close-icon {
        display: block;
    }
}

/* header */
@media screen and (min-width:1200px){
    header {
       min-height:100vh;
    }
}
@media screen and (max-width:992px){
    header .container{
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    header .container > *{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .container .hometext{
        margin: 30px;
    }
    header .homebtn .mainbtn{
        border-radius: 100vh;
    }
}
@media screen and (max-width:400px){
    header .homebtn {
        flex-direction: column;
    }
}
/* chefs */
@media screen and (max-width:992px){
    .chefs-card .card{
        width:calc(calc(100% - var(--gap) )/2) ;
    }
}
@media screen and (max-width:768px){
    .chefs-card .card{
        width:100%
    }
}
/* gallery */
@media screen and (max-width:1400px){
    .gallery-img{
        height:1025px ;
    }
}
@media screen and (max-width:1200px){
    .gallery-img{
        height:860px ;
    }
}

@media screen and (max-width:992px){
    .gallery-img {
        height:1400px ;
    }
    .gallery-img picture {
        width:calc(calc(100% - var(--gap))/2);
    }

    .pizza{
        order: 1;
    }
    .burger{
        order: 2;
    }
    .pizza-slic{
        order: 3;
    }
    .frit{
        order: 4;
    }
    .beef{
        order: 5;
    }
    .chicken{
        order: 6;
    }
    .kebab{
        order: 7;
    }
} 

@media screen and (max-width:768px){
    .gallery-img {
        height:auto ;
    }
    .gallery-img picture {
        width:100%;
    }

    .pizza{
        order: 1;
    }
    .burger{
        order: 2;
    }
    .pizza-slic{
        order: 3;
    }
    .frit{
        order: 4;
    }
    .beef{
        order: 5;
    }
    .chicken{
        order: 6;
    }
    .kebab{
        order: 7;
    }
} 

/* contact */
@media screen and (max-width:992px ){
    .contact .input-gr input{
        width:100%
    }
}
@media screen and (max-width:768px ){
    .contact .input-gr input{
        width:100%
    }
}

 /* footer */
 @media screen and (max-width:1200px ){
    footer :is(.about ,.detail ){
        width: calc(calc(100% - var(--gap) * 2) / 2);
        order: 1;
    }
    footer :is(.sub){
        width:100%;
        order: 2;
    }
}

@media screen and (max-width:768px ){
    footer :is(.about ,.detail , .sub){
        order: 0;
        width: 100%;
    }
}    